Src/ContosoInsurance.Logic/json.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "components_contosoinsurance_name": {
      "defaultValue": "contosoinsurance",
      "type": "String"
    },
    "workflows_ContosoClaimAutoApprover_name": {
      "defaultValue": "ContosoClaimAutoApprover",
      "type": "String"
    },
    "workflows_ContosoClaimManualApprover_name": {
      "defaultValue": "ContosoClaimManualApprover",
      "type": "String"
    },
    "servers_contosoinsurance_name": {
      "defaultValue": "contosoinsurance",
      "type": "String"
    },
    "storageAccounts_contosoinsurancestorage_name": {
      "defaultValue": "contosoinsurancestorage",
      "type": "String"
    },
    "serverfarms_ContosoInsurance_name": {
      "defaultValue": "ContosoInsurance",
      "type": "String"
    },
    "sites_contosoinsurance_name": {
      "defaultValue": "contosoinsurance",
      "type": "String"
    },
    "sites_contosoinsurance_api_name": {
      "defaultValue": "contosoinsurance-api",
      "type": "String"
    },
    "sites_contosoinsurance_function_name": {
      "defaultValue": "contosoinsurance-function",
      "type": "String"
    },
    "databases_CRMClaims_name": {
      "defaultValue": "contosoinsurance/CRMClaims",
      "type": "String"
    },
    "databases_master_name": {
      "defaultValue": "contosoinsurance/master",
      "type": "String"
    },
    "databases_MobileClaims_name": {
      "defaultValue": "contosoinsurance/MobileClaims",
      "type": "String"
    },
    "firewallRules_All_name": {
      "defaultValue": "contosoinsurance/All",
      "type": "String"
    },
    "firewallRules_AllowAllWindowsAzureIps_name": {
      "defaultValue": "contosoinsurance/AllowAllWindowsAzureIps",
      "type": "String"
    },
    "workflows_ContosoClaimAutoApprover_connectionId": {
      "defaultValue": "/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Web/connections/contosoinsurance-office365",
      "type": "String"
    },
    "workflows_ContosoClaimManualApprover_connectionId": {
      "defaultValue": "/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Web/connections/contosoinsurance-office365",
      "type": "String"
    }
  },
  "variables": { },
  "resources": [
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/microsoft.insights/components/contosoinsurance'.",
      "type": "microsoft.insights/components",
      "kind": "web",
      "name": "[parameters('components_contosoinsurance_name')]",
      "apiVersion": "2014-04-01",
      "location": "Central US",
      "tags": {
        "hidden-link:/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Web/sites/contosoinsurance": "Resource"
      },
      "properties": {
        "ApplicationId": "[parameters('components_contosoinsurance_name')]"
      },
      "resources": [ ],
      "dependsOn": [ ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Logic/workflows/ContosoClaimAutoApprover'.",
      "type": "Microsoft.Logic/workflows",
      "name": "[parameters('workflows_ContosoClaimAutoApprover_name')]",
      "apiVersion": "2016-06-01",
      "location": "westus",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": { },
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "claimDetailsPageBaseUrl": {
                      "type": "string"
                    },
                    "claimsAdjusterEmail": {
                      "type": "string"
                    },
                    "correlationId": {
                      "type": "string"
                    },
                    "customerEmail": {
                      "type": "string"
                    },
                    "customerName": {
                      "type": "string"
                    },
                    "id": {
                      "type": "int"
                    }
                  },
                  "required": [
                    "id",
                    "correlationId",
                    "customerName",
                    "customerEmail",
                    "claimsAdjusterEmail",
                    "claimDetailsPageBaseUrl"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "AutoApproveClaim": {
              "runAfter": {
                "TrackCustomEvent_-_Auto_Approval_Started": [
                  "Succeeded"
                ]
              },
              "type": "Function",
              "inputs": {
                "body": {
                  "id": "@triggerBody()['id']"
                },
                "function": {
                  "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/AutoApproveClaim')]"
                }
              }
            },
            "Is_Claim_Auto_Approved": {
              "actions": {
                "Send_Auto_Approved_Email": {
                  "runAfter": {
                    "TrackCustomEvent_-_Claim_Auto_Approved": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "Body": "<p>Hello @{triggerBody()['customerName']},</p>\n<p>The claim you recently submitted was automatically approved. You can proceed to schedule repairs. If you have any questions, please contact your agent.</p>\n<p>Claim number: @{triggerBody()['id']}</p>",
                      "Importance": "Normal",
                      "IsHtml": true,
                      "Subject": "Claim Automatically Approved",
                      "To": "@{triggerBody()['customerEmail']}"
                    },
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/office365"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['contosoinsurance-office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Mail"
                  }
                },
                "TrackCustomEvent_-_Auto_Approval_Email_Sent": {
                  "runAfter": {
                    "Send_Auto_Approved_Email": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "EventName": "Logic App Status",
                      "Metrics": {
                        "Logic App": 0
                      },
                      "Properties": {
                        "CorrelationId": "@triggerBody()['correlationId']",
                        "Description": "Auto Approval Email Sent to @{triggerBody()['customerEmail']}",
                        "Host": "To be determined",
                        "LogType": "Status Log",
                        "RunName": "@workflow()['run']['name']",
                        "Status": "Success"
                      }
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/TrackCustomEvent')]"
                    }
                  }
                },
                "TrackCustomEvent_-_Claim_Auto_Approved": {
                  "runAfter": { },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "EventName": "Logic App Status",
                      "Metrics": {
                        "Logic App": 0
                      },
                      "Properties": {
                        "CorrelationId": "@triggerBody()['correlationId']",
                        "Description": "Claim Auto Approved",
                        "Host": "To be determined",
                        "LogType": "Status Log",
                        "RunName": "@workflow()['run']['name']"
                      }
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/TrackCustomEvent')]"
                    }
                  }
                }
              },
              "runAfter": {
                "TrackCustomEvent_-_Auto_Approval_Complete": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_Auto_Rejected_Email": {
                    "runAfter": {
                      "TrackCustomEvent_-_Claim_Auto_Rejected": [
                        "Succeeded"
                      ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "Body": "<p>Claim number @{triggerBody()['id']} was not auto approved. Please review the claim and approve or reject it.</p>\n<p><a href=\"@{triggerBody()['claimDetailsPageBaseUrl']}@{triggerBody()['id']}\">@{triggerBody()['claimDetailsPageBaseUrl']}@{triggerBody()['id']}</p>",
                        "Importance": "Normal",
                        "IsHtml": true,
                        "Subject": "Claim Pending Review",
                        "To": "@{triggerBody()['claimsAdjusterEmail']}"
                      },
                      "host": {
                        "api": {
                          "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/office365"
                        },
                        "connection": {
                          "name": "@parameters('$connections')['contosoinsurance-office365']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/Mail"
                    }
                  },
                  "TrackCustomEvent_-_Auto_Rejected_Email_Sent": {
                    "runAfter": {
                      "Send_Auto_Rejected_Email": [
                        "Succeeded"
                      ]
                    },
                    "type": "Function",
                    "inputs": {
                      "body": {
                        "EventName": "Logic App Status",
                        "Metrics": {
                          "Logic App": 0
                        },
                        "Properties": {
                          "CorrelationId": "@triggerBody()['correlationId']",
                          "Description": "Auto Rejected Email Sent to @{triggerBody()['claimsAdjusterEmail']}",
                          "Host": "To be determined",
                          "LogType": "Status Log",
                          "RunName": "@workflow()['run']['name']",
                          "Status": "Success"
                        }
                      },
                      "function": {
                        "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/TrackCustomEvent')]"
                      }
                    }
                  },
                  "TrackCustomEvent_-_Claim_Auto_Rejected": {
                    "runAfter": { },
                    "type": "Function",
                    "inputs": {
                      "body": {
                        "EventName": "Logic App Status",
                        "Metrics": {
                          "Logic App": 0
                        },
                        "Properties": {
                          "CorrelationId": "@triggerBody()['correlationId']",
                          "Description": "Claim Auto Rejected",
                          "Host": "To be determined",
                          "LogType": "Status Log",
                          "RunName": "@workflow()['run']['name']"
                        }
                      },
                      "function": {
                        "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/TrackCustomEvent')]"
                      }
                    }
                  }
                }
              },
              "expression": "@equals(body('AutoApproveClaim'), 'Approved')",
              "type": "If"
            },
            "Response": {
              "runAfter": {
                "Is_Claim_Auto_Approved": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "inputs": {
                "body": "Done",
                "statusCode": 200
              }
            },
            "TrackCustomEvent_-_Auto_Approval_Complete": {
              "runAfter": {
                "AutoApproveClaim": [
                  "Succeeded"
                ]
              },
              "type": "Function",
              "inputs": {
                "body": {
                  "EventName": "Logic App Status",
                  "Metrics": {
                    "Logic App": 0
                  },
                  "Properties": {
                    "CorrelationId": "@triggerBody()['correlationId']",
                    "Description": "Auto Approval Complete",
                    "Host": "To be determined",
                    "LogType": "Status Log",
                    "RunName": "@workflow()['run']['name']"
                  }
                },
                "function": {
                  "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/TrackCustomEvent')]"
                }
              }
            },
            "TrackCustomEvent_-_Auto_Approval_Started": {
              "runAfter": { },
              "type": "Function",
              "inputs": {
                "body": {
                  "EventName": "Logic App Status",
                  "Metrics": {
                    "Logic App": 0
                  },
                  "Properties": {
                    "CorrelationId": "@triggerBody()['correlationId']",
                    "Description": "Auto Approval Started",
                    "Host": "To be determined",
                    "LogType": "Status Log",
                    "RunName": "@workflow()['run']['name']"
                  }
                },
                "function": {
                  "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/TrackCustomEvent')]"
                }
              }
            }
          },
          "outputs": { }
        },
        "parameters": {
          "$connections": {
            "value": {
              "contosoinsurance-office365": {
                "connectionId": "[parameters('workflows_ContosoClaimAutoApprover_connectionId')]",
                "connectionName": "contosoinsurance-office365",
                "id": "/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/providers/Microsoft.Web/locations/westus/managedApis/office365"
              }
            }
          }
        }
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_name'))]",
        "[resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Logic/workflows/ContosoClaimManualApprover'.",
      "type": "Microsoft.Logic/workflows",
      "name": "[parameters('workflows_ContosoClaimManualApprover_name')]",
      "apiVersion": "2016-06-01",
      "location": "westus",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": { },
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "approved": {
                      "type": "bool"
                    },
                    "customerEmail": {
                      "type": "string"
                    },
                    "customerName": {
                      "type": "string"
                    },
                    "damageAssessment": {
                      "type": "string"
                    },
                    "id": {
                      "type": "int"
                    }
                  },
                  "required": [
                    "id",
                    "damageAssessment",
                    "approved",
                    "customerEmail",
                    "customerName"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "HandleManualClaim": {
              "runAfter": { },
              "type": "Function",
              "inputs": {
                "body": "@triggerBody()",
                "function": {
                  "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/HandleManualClaim')]"
                }
              }
            },
            "Is_Claim_Approved": {
              "actions": {
                "Send_Manual_Approved_Email": {
                  "runAfter": { },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "Body": "<p>Hello @{triggerBody()['customerName']},</p>\n<p>The claim you recently submitted was manually approved. You can proceed to schedule repairs. If you have any questions, please contact your agent.</p>\n<p>Claim number: @{triggerBody()['id']}</p>\n\n\n",
                      "Importance": "Normal",
                      "IsHtml": true,
                      "Subject": "Claim Approved",
                      "To": "@{triggerBody()['customerEmail']}"
                    },
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/office365"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['contosoinsurance-office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Mail"
                  }
                },
                "TrackCustomEvent_-_Manual_Approved_Email_Sent": {
                  "runAfter": {
                    "Send_Manual_Approved_Email": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "EventName": "Logic App Status",
                      "Metrics": {
                        "Logic App": 0
                      },
                      "Properties": {
                        "CorrelationId": "@triggerBody()['correlationId']",
                        "Description": "Manual Approval Email Sent to @{triggerBody()['customerEmail']}",
                        "Host": "To be determined",
                        "LogType": "Status Log",
                        "RunName": "@workflow()['run']['name']",
                        "Status": "Success"
                      }
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/TrackCustomEvent')]"
                    }
                  }
                }
              },
              "runAfter": {
                "HandleManualClaim": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_Manual_Rejected_Email": {
                    "runAfter": { },
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "Body": "<p>Hello @{triggerBody()['customerName']},</p>\n<p>The claim you recently submitted was not approved by the claims adjuster. If you have any questions, please contact your agent.</p>\n<p>Claim number: @{triggerBody()['id']}</p>\n",
                        "Importance": "Normal",
                        "IsHtml": true,
                        "Subject": "Claim Rejected",
                        "To": "@{triggerBody()['customerEmail']}"
                      },
                      "host": {
                        "api": {
                          "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/office365"
                        },
                        "connection": {
                          "name": "@parameters('$connections')['contosoinsurance-office365']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/Mail"
                    }
                  },
                  "TrackCustomEvent_-_Manual_Rejected_Email_Sent": {
                    "runAfter": {
                      "Send_Manual_Rejected_Email": [
                        "Succeeded"
                      ]
                    },
                    "type": "Function",
                    "inputs": {
                      "body": {
                        "EventName": "Logic App Status",
                        "Metrics": {
                          "Logic App": 0
                        },
                        "Properties": {
                          "CorrelationId": "@triggerBody()['correlationId']",
                          "Description": "Manual Rejected Email Sent to @{triggerBody()['customerEmail']}",
                          "Host": "To be determined",
                          "LogType": "Status Log",
                          "RunName": "@workflow()['run']['name']",
                          "Status": "Success"
                        }
                      },
                      "function": {
                        "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name')), '/functions/TrackCustomEvent')]"
                      }
                    }
                  }
                }
              },
              "expression": "@bool(triggerBody()['approved'])",
              "type": "If"
            },
            "Response": {
              "runAfter": {
                "Is_Claim_Approved": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "inputs": {
                "statusCode": 200
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "contosoinsurance-office365": {
                "connectionId": "[parameters('workflows_ContosoClaimManualApprover_connectionId')]",
                "connectionName": "contosoinsurance-office365",
                "id": "/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/providers/Microsoft.Web/locations/westus/managedApis/office365"
              }
            }
          }
        }
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_name'))]",
        "[resourceId('Microsoft.Web/sites', parameters('sites_contosoinsurance_function_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Sql/servers/contosoinsurance'.",
      "type": "Microsoft.Sql/servers",
      "kind": "v12.0",
      "name": "[parameters('servers_contosoinsurance_name')]",
      "apiVersion": "2014-04-01-preview",
      "location": "West US",
      "properties": {
        "administratorLogin": "[parameters('servers_contosoinsurance_name')]",
        "administratorLoginPassword": null,
        "version": "12.0"
      },
      "resources": [ ],
      "dependsOn": [ ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/contosoinsurance/providers/Microsoft.Storage/storageAccounts/contosoinsurancestorage'.",
      "type": "Microsoft.Storage/storageAccounts",
      "sku": {
        "name": "Standard_RAGRS",
        "tier": "Standard"
      },
      "kind": "Storage",
      "name": "[parameters('storageAccounts_contosoinsurancestorage_name')]",
      "apiVersion": "2016-01-01",
      "location": "westus",
      "tags": { },
      "properties": { },
      "resources": [ ],
      "dependsOn": [ ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Web/serverfarms/ContosoInsurance'.",
      "type": "Microsoft.Web/serverfarms",
      "sku": {
        "name": "B1",
        "tier": "Basic",
        "size": "B1",
        "family": "B",
        "capacity": 1
      },
      "name": "[parameters('serverfarms_ContosoInsurance_name')]",
      "apiVersion": "2015-08-01",
      "location": "West US",
      "properties": {
        "name": "[parameters('serverfarms_ContosoInsurance_name')]",
        "numberOfWorkers": 1
      },
      "resources": [ ],
      "dependsOn": [ ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Web/sites/contosoinsurance'.",
      "type": "Microsoft.Web/sites",
      "name": "[parameters('sites_contosoinsurance_name')]",
      "apiVersion": "2015-08-01",
      "location": "West US",
      "tags": {
        "hidden-related:/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourcegroups/ContosoInsurance/providers/Microsoft.Web/serverfarms/ContosoInsurance": "empty"
      },
      "properties": {
        "name": "[parameters('sites_contosoinsurance_name')]",
        "hostNames": [
          "contosoinsurance.azurewebsites.net"
        ],
        "enabledHostNames": [
          "contosoinsurance.azurewebsites.net",
          "contosoinsurance.scm.azurewebsites.net"
        ],
        "hostNameSslStates": [
          {
            "name": "[concat(parameters('sites_contosoinsurance_name'),'.azurewebsites.net')]",
            "sslState": 0,
            "thumbprint": null,
            "ipBasedSslState": 0
          },
          {
            "name": "[concat(parameters('sites_contosoinsurance_name'),'.scm.azurewebsites.net')]",
            "sslState": 0,
            "thumbprint": null,
            "ipBasedSslState": 0
          }
        ],
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ContosoInsurance_name'))]"
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ContosoInsurance_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Web/sites/contosoinsurance-api'.",
      "type": "Microsoft.Web/sites",
      "name": "[parameters('sites_contosoinsurance_api_name')]",
      "apiVersion": "2015-08-01",
      "location": "West US",
      "tags": {
        "hidden-related:/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourcegroups/ContosoInsurance/providers/Microsoft.Web/serverfarms/ContosoInsurance": "empty"
      },
      "properties": {
        "name": "[parameters('sites_contosoinsurance_api_name')]",
        "hostNames": [
          "contosoinsurance-api.azurewebsites.net"
        ],
        "enabledHostNames": [
          "contosoinsurance-api.azurewebsites.net",
          "contosoinsurance-api.scm.azurewebsites.net"
        ],
        "hostNameSslStates": [
          {
            "name": "[concat(parameters('sites_contosoinsurance_api_name'),'.azurewebsites.net')]",
            "sslState": 0,
            "thumbprint": null,
            "ipBasedSslState": 0
          },
          {
            "name": "[concat(parameters('sites_contosoinsurance_api_name'),'.scm.azurewebsites.net')]",
            "sslState": 0,
            "thumbprint": null,
            "ipBasedSslState": 0
          }
        ],
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ContosoInsurance_name'))]"
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ContosoInsurance_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Web/sites/contosoinsurance-function'.",
      "type": "Microsoft.Web/sites",
      "kind": "functionapp",
      "name": "[parameters('sites_contosoinsurance_function_name')]",
      "apiVersion": "2015-08-01",
      "location": "West US",
      "tags": {
        "hidden-related:/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourcegroups/ContosoInsurance/providers/Microsoft.Web/serverfarms/ContosoInsurance": "empty"
      },
      "properties": {
        "name": "[parameters('sites_contosoinsurance_function_name')]",
        "hostNames": [
          "contosoinsurance-function.azurewebsites.net"
        ],
        "enabledHostNames": [
          "contosoinsurance-function.azurewebsites.net",
          "contosoinsurance-function.scm.azurewebsites.net"
        ],
        "hostNameSslStates": [
          {
            "name": "[concat(parameters('sites_contosoinsurance_function_name'),'.azurewebsites.net')]",
            "sslState": 0,
            "thumbprint": null,
            "ipBasedSslState": 0
          },
          {
            "name": "[concat(parameters('sites_contosoinsurance_function_name'),'.scm.azurewebsites.net')]",
            "sslState": 0,
            "thumbprint": null,
            "ipBasedSslState": 0
          }
        ],
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ContosoInsurance_name'))]"
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ContosoInsurance_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Sql/servers/contosoinsurance/databases/CRMClaims'.",
      "type": "Microsoft.Sql/servers/databases",
      "kind": "v12.0,user",
      "name": "[parameters('databases_CRMClaims_name')]",
      "apiVersion": "2014-04-01-preview",
      "location": "West US",
      "properties": {
        "databaseId": "839d23d8-2c2c-405a-b14f-4792b979f0b5",
        "edition": "Basic",
        "status": "Online",
        "serviceLevelObjective": "Basic",
        "collation": "SQL_Latin1_General_CP1_CI_AS",
        "maxSizeBytes": "2147483648",
        "creationDate": "2016-08-19T00:50:40.32Z",
        "currentServiceObjectiveId": "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
        "requestedServiceObjectiveId": "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
        "requestedServiceObjectiveName": "Basic",
        "defaultSecondaryLocation": "East US",
        "earliestRestoreDate": "2016-09-11T00:00:00Z",
        "elasticPoolName": null,
        "containmentState": 2
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Sql/servers', parameters('servers_contosoinsurance_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Sql/servers/contosoinsurance/databases/master'.",
      "type": "Microsoft.Sql/servers/databases",
      "kind": "v12.0,system",
      "name": "[parameters('databases_master_name')]",
      "apiVersion": "2014-04-01-preview",
      "location": "West US",
      "properties": {
        "databaseId": "ea6ce9a0-082e-4d28-b335-a11554be0303",
        "edition": "System",
        "status": "Online",
        "serviceLevelObjective": "System0",
        "collation": "SQL_Latin1_General_CP1_CI_AS",
        "maxSizeBytes": "32212254720",
        "creationDate": "2016-08-19T00:45:58.93Z",
        "currentServiceObjectiveId": "29dd7459-4a7c-4e56-be22-f0adda49440d",
        "requestedServiceObjectiveId": "29dd7459-4a7c-4e56-be22-f0adda49440d",
        "requestedServiceObjectiveName": "System0",
        "defaultSecondaryLocation": "East US",
        "earliestRestoreDate": null,
        "elasticPoolName": null,
        "containmentState": 2
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Sql/servers', parameters('servers_contosoinsurance_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Sql/servers/contosoinsurance/databases/MobileClaims'.",
      "type": "Microsoft.Sql/servers/databases",
      "kind": "v12.0,user",
      "name": "[parameters('databases_MobileClaims_name')]",
      "apiVersion": "2014-04-01-preview",
      "location": "West US",
      "properties": {
        "databaseId": "f141b37b-3156-4e7d-b7fb-c7b450f81f5e",
        "edition": "Basic",
        "status": "Online",
        "serviceLevelObjective": "Basic",
        "collation": "SQL_Latin1_General_CP1_CI_AS",
        "maxSizeBytes": "2147483648",
        "creationDate": "2016-08-19T00:46:24.583Z",
        "currentServiceObjectiveId": "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
        "requestedServiceObjectiveId": "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
        "requestedServiceObjectiveName": "Basic",
        "defaultSecondaryLocation": "East US",
        "earliestRestoreDate": "2016-09-11T00:00:00Z",
        "elasticPoolName": null,
        "containmentState": 2
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Sql/servers', parameters('servers_contosoinsurance_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Sql/servers/contosoinsurance/firewallRules/All'.",
      "type": "Microsoft.Sql/servers/firewallRules",
      "kind": "v12.0",
      "name": "[parameters('firewallRules_All_name')]",
      "apiVersion": "2014-04-01-preview",
      "location": "West US",
      "properties": {
        "startIpAddress": "0.0.0.0",
        "endIpAddress": "255.255.255.255"
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Sql/servers', parameters('servers_contosoinsurance_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/ba4b754a-7463-466a-bd84-9d07c7ac9c9e/resourceGroups/ContosoInsurance/providers/Microsoft.Sql/servers/contosoinsurance/firewallRules/AllowAllWindowsAzureIps'.",
      "type": "Microsoft.Sql/servers/firewallRules",
      "kind": "v12.0",
      "name": "[parameters('firewallRules_AllowAllWindowsAzureIps_name')]",
      "apiVersion": "2014-04-01-preview",
      "location": "West US",
      "properties": {
        "startIpAddress": "0.0.0.0",
        "endIpAddress": "0.0.0.0"
      },
      "resources": [ ],
      "dependsOn": [
        "[resourceId('Microsoft.Sql/servers', parameters('servers_contosoinsurance_name'))]"
      ]
    }
  ]
}